@model IEnumerable<StudyNow.Web.Models.AssignmentStudentViewModel>

@{
    Layout = "_LayoutMenu";
    ViewData["Title"] = "Завдання";
}

<div class="title">
    <h2>@ViewData["Title"]</h2>
</div>

<div class="assignments-student--section">
    <div class="inner">
        <div class="assignments-student--section-list">
            @foreach (var assignment in Model)
            {
                <div class="assignments-student--section-list-item">
                    <h3>@assignment.Title</h3>
                    <p>@assignment.SubjectName</p>
                    <a asp-controller="Student" asp-action="AssignmentDetails" asp-route-id="@assignment.AssignmentId">Детальніше</a>
                    <div class="datetime">
                        <h5 class="date">@assignment.Deadline.ToString("dd.MM")</h5>
                        <h5 class="time">@assignment.Deadline.ToString("HH:mm")</h5>
                    </div>
                </div>
            }
        </div>
    </div>
</div>