@model StudyNow.Web.Models.AssignmentStudentViewModel

@{
    Layout = "_LayoutMenu";
    ViewData["Title"] = "Завдання";
}

<div class="title" style="margin-bottom: 5px;">
    <h2>@Model.Title</h2>
</div>

<div class="assignment-details-student--section">
    <div class="inner">
        <p>@Model.SubjectName</p>
        <p>Термін: @Model.Deadline.ToString("dd.MM") @Model.Deadline.ToString("HH:mm")</p>
        <p>@Model.Description</p>
    </div>
</div>